@import "theme-styles";

$color-primary: #55c57a;

$break-1024: screen and (max-width: 1024px);
$break-768: screen and (max-width: 768px);
$break-mobile: screen and (max-width: 530px);

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #fff;
}

h2 {
    margin: 0 0 20px 0;
}

h3 {
    font-size: 16px;
    margin: 0 0 5px 0;
}

p:empty {
    display: none;
 }

.header {
    background-color: $color-primary;
}

.site-title a {
    color: #2c4769;
    text-transform: uppercase;
}

.section.banner {
    position: relative;
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.4);

    }
}

.more-icon {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIzLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxOTIuNjggMTkwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxOTIuNjggMTkwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6I0ZGRkZGRjtzdHJva2U6IzY5Njk2OTtzdHJva2Utd2lkdGg6MTA7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQo8L3N0eWxlPgo8Zz4KCTxjaXJjbGUgY2xhc3M9InN0MCIgY3g9Ijk1LjY3IiBjeT0iOTQuMjciIHI9Ijg2LjY3Ii8+Cgk8Zz4KCQk8bGluZSBjbGFzcz0ic3QwIiB4MT0iOTUuNjciIHkxPSI0Mi4wOCIgeDI9Ijk1LjY3IiB5Mj0iMTQ2LjQ1Ii8+CgkJPGxpbmUgY2xhc3M9InN0MCIgeDE9IjQzLjQ5IiB5MT0iOTQuMjciIHgyPSIxNDcuODYiIHkyPSI5NC4yNyIvPgoJPC9nPgo8L2c+Cjwvc3ZnPgo=)
    no-repeat
    center;
    width: 20px;
    height: 20px;
    background-size: contain;
    display: block;
}

.right-arrow-icon {
    background: url(data:image/svg+xml;base64,PHN2ZyAKIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIgogd2lkdGg9IjE3cHgiIGhlaWdodD0iMTJweCI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgIGZpbGw9InJnYig1OCwgMTEzLCAxODEpIgogZD0iTTAuOTY1LDcuMTI2IEwxMi4zNjEsNy4xMjYgTDguMDUxLDExLjI2MiBMMTEuMDk4LDExLjI2MiBMMTYuNDg3LDYuMDkzIEwxMS4wOTgsMC45MjMgTDguMDUxLDAuOTIzIEwxMi4zNjEsNS4wNTkgTDAuOTY1LDUuMDU5IEwwLjk2NSw3LjEyNiBaIi8+Cjwvc3ZnPg==)
    no-repeat
    center;
    width: 13px;
    height: 10px;
    background-size: contain;
    display: block;
    position: relative;
}

.simple-link {
    color: #3a71b5;
    text-decoration: underline;
    display: inline-flex;
    float: right;
    align-items: center;
    span { margin-right: 5px; }
    i,span {
        transition: all 0.3s ease;
    }
    &:hover > span {
        margin-right: 10px;
    }
    &:hover > i {
        margin-right: -5px;
    }
}

main {
    position: relative;
    .cat-main {
      position: relative;
      border-bottom: 1px solid #dbdbdb;
      margin-bottom: 60px;
      .cat-wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 10px 30px 20px 30px;

        @media screen and (max-width: 580px) {
            padding: 10px 10px 20px 10px;
        }

        .cat-wrapper-ul {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          li a {
            display: block;
          }
          @media screen and (max-width: 1030px) {
            li:nth-last-child(2), li:nth-last-child(3) {
                display: none;
            }
          }
          @media #{$break-768} {
            li:nth-last-child(4), li:nth-last-child(5), li:nth-last-child(6), li:nth-last-child(7) {
                display: none;
            }
        }
                @media screen and (max-width: 580px) {
            li:nth-last-child(8), li:nth-last-child(9), li:nth-last-child(10) {
                display: none;
            }
          }
        }
      }
    }
    .wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
        .inner-recently-added {
            display: flex;
            @media #{$break-1024} {
                display: block;
            }
            .first-recently-added-item {
                margin-right: 20px;
                @media #{$break-1024} {
                    margin-bottom: 20px;
                    margin-right: 0;
                }
                .first-recently-added-image {
                    background-size: cover;
                    background-position: center; 
                    width: 324px;
                    height: 216px;
                    border: 1px solid #e0e0e0;
                    @media #{$break-1024} {
                        width: 100%;
                    }
                }
                h3 {
                    font-size: 18px;
                    margin: 10px 0 10px 0;
                }
                p {
                  font-size: 12px;
                  line-height: 15px;
                  display: -webkit-box;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  margin-bottom: 10px;
                }
                .article-details {
                    p {
                        margin-bottom: 0px;
                        font-size: 11px;
                        line-height: 14px;
                        span{
                            font-weight: 500;
                        }
                    }
                }
            }
        
        }
    }
  }


  .section-decursos {
    margin-bottom: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
  }

  .section-recently-added {
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        li {
        width: 50%;
        margin-bottom: 20px;
        padding-right: 20px;
        display: flex;
        @media #{$break-mobile} {
            width: 100%;
            flex-direction: column;
            padding-right: 0px;
        }
        .recently-added-image {
            background-size: cover;
            background-position: center; 
            width: 160px;
            height: 100px;
            margin-right: 10px;
            border: 1px solid #e0e0e0;
            @media #{$break-768} {
                width: 100%;
                height: 216px;
                margin-bottom: 20px;
            }
        }
        h3 {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        p {
            font-size: 12px;
            line-height: 15px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 5px;
        }
        .article-details {
            p {
                margin-bottom: 0px;
                font-size: 11px;
                line-height: 14px;
                span{
                    font-weight: 500;
                }
            }
        }
        }
    }
}

.section-recommended {
    .inner-recommended-section { 
        display: flex;
        flex-wrap: wrap;
        .left-col {
            // max-width: 70%;
            max-width: 100%;
            li {
                display: flex;
                margin-bottom: 20px;
                @media #{$break-mobile} {
                    flex-direction: column;
                }
                .recommended-image {
                    background-size: cover;
                    background-position: center; 
                    min-width: 324px;
                    height: 216px;
                    margin-right: 20px;
                    border: 1px solid #e0e0e0;
                    @media #{$break-1024} {
                        min-width: 200px;
                        height: 183px;
                    }
                    @media #{$break-mobile} {
                        min-width: 110px;
                        height: 216px;
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                }
                .recommended-text {
                    .excerpt-text {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        .text-wrapper {
                            flex: 2;
                            p {
                                font-size: 16px;
                                line-height: 22px;
                                display: -webkit-box;
                                -webkit-line-clamp: 4;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                margin-bottom: 5px;
                            }
                        }
                        .article-details {
                            p {
                                // margin: 0;
                                span {
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
            }
        }
        .right-col {
            width: 30%;
            padding-left: 20px;
            .misc-box {
                width: 100%;
                height: 500px;
                background-color: #3a71b5;
                margin-bottom: 20px;
            }
        }
    }
}



section.section-join-us {
    height: 500px;
    position: relative;
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    @media #{$break-768} {
        height: 300px;
    }
    .inner-text {
        position: absolute;
        z-index: 5;
        color: #fff;
        width: 620px;
        max-width: 100%;
        text-align: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @media #{$break-768} {
            padding: 0 20px;
        }
        a {
            color: #74b9ff;
        }
        h2 {
            font-family: Georgia, 'Times New Roman', Times, serif;
            border-bottom: 2px solid #fff;
            padding-bottom: 20px;
            font-size: 29px;

            @media #{$break-768} {
                font-size: 20px;
                padding-bottom: 10px;
                margin-bottom: 10px;
                line-height: 30px;
            }
        }

        p {
            @media #{$break-768} {
                font-size: 12px;
            }
        }
    }
    .image-join {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100%;
        background-attachment: fixed;
    }

    .bg-patron {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.8);
        z-index: 1;
        opacity: 0.8;
        padding: 20px;
    }
}

.main-nav {
    position: fixed;
    z-index: 200;
    width: 100%;
    padding: 15px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);

    display: flex;
    
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    .logo-left-col {
        .logo {

        }
    }

    .separator {
        flex: 2;
    }
}

#menu-main-menu {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    @media #{$break-768} {
        position: absolute;
        left: 0;
        top: 60px;
        background-color: #fff;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    }
    li {
        padding-left: 30px;
        @media #{$break-768} {
            padding-bottom: 30px;
        }
    }


    @media #{$break-768} { 
        display: none;
        &.open {
            display: block;
        }
    }

    
}

.main-menu-wraper {
    display: flex;
    .burger-icon {
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9ItCh0LvQvtC5XzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDEzOSAxMzk7IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMzkgMTM5IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiMwMDAwMDA7c3Ryb2tlLXdpZHRoOjY7c3Ryb2tlLW1pdGVybGltaXQ6MTA7fQo8L3N0eWxlPjxsaW5lIGNsYXNzPSJzdDAiIGlkPSJYTUxJRF82XyIgeDE9IjI2LjUiIHgyPSIxMTIuNSIgeTE9IjQ2LjMiIHkyPSI0Ni4zIi8+PGxpbmUgY2xhc3M9InN0MCIgaWQ9IlhNTElEXzlfIiB4MT0iMjYuNSIgeDI9IjExMi41IiB5MT0iOTIuNyIgeTI9IjkyLjciLz48bGluZSBjbGFzcz0ic3QwIiBpZD0iWE1MSURfOF8iIHgxPSIyNi41IiB4Mj0iMTEyLjUiIHkxPSI2OS41IiB5Mj0iNjkuNSIvPjwvc3ZnPg==) 
        no-repeat center;
        width: 30px;
        height: 30px;
        background-size: contain;
        display: block;
        display: none;
        @media #{$break-768} {
            display: block;
        }
    } 
}

.categories-container {
    padding: 60px 0;
    @media screen and (max-width: 815px) {
        padding: 40px 0;
    }
}

ul.categories-ul {
    display: flex;
    flex-wrap: wrap;
}

ul.categories-ul li {
    position: relative;
    width: calc(25% - 20px);
    margin: 10px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media screen and (max-width: 991px) {
        width: calc(50% - 20px);
    }

    @media screen and (max-width: 600px) {
        width: 100%;
        margin: 0 0 10px 0;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
    }
    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
    }
}

.container-category-articles {
    padding: 60px 0;
    @media screen and (max-width: 815px) {
        padding: 40px 20px;
    }
}

.article-item {
    display: flex;
    margin-bottom: 20px;
    @media screen and (max-width: 815px) {
        flex-direction: column;
        margin-bottom: 30px;
        padding-bottom: 30px;
        &:not(:last-of-type) {
            border-bottom: 1px solid #dfdfdf;
        }
    }
    .article-image {
        background-size: cover;
        background-position: center;
        min-width: 324px;
        height: 216px;
        margin-right: 20px;
        border: 1px solid #e0e0e0;
        @media screen and (max-width: 815px) {
            margin: 0 0 15px 0;
        }
    }
    .article-text {
        p {
            // margin: 0;
        }

        .article-details {
            span {
                font-weight: 500;
            }
        }
    }
}


.article-page {
    padding: 0;
}

.author-info-wrapper {
    display: flex;
    .author-image {
      overflow: hidden;
      border-radius: 100%;
      img {
        width: 60px;
      }
    }
    .author-info {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
    }
  }


  .um-page-loggedin, .um-page-loggedout {
      .section.banner {
          display: none;
      }

      .um-profile-note {
        //   display: none !important;
      }
  }

  .um-page-user, .um-page-account {
    .post-wrapper {
        header {
            display: none;
        }
    }
  }

  .um-load-items a.um-button {
      color: #fff;
  }